.header {
  background-color:#13171A;
  box-shadow: 0px 3px 4px -2px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, 0.15);
}

body {
  font-family: 'Poppins', sans-serif;
  background-color:#0D1114;
  color:var(--c-text-primary);
}
.header_logo {
  background-image:url('https://127.0.0.1:8000/storage/resources/header-bg6-681f867c6ca69.png');
  height:250px;
}
.header_logo_content {
  padding-left:20%;
  padding-top:5%;
}
.header_logo_content h1 {
  font-size:50px;
  font-weight:600;
}

.card {
  background-color:#13171A;
}
.card-title {
  box-shadow: 0px 3px 4px -2px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  font-size:25px;
  font-weight:600;

}

:root {
  --c-primary: #6f7059;
  --c-text-primary: #ececec;
  --c-primary-accent: #494a3b;
  --c-elevation-0: #0D1114;
  --c-elevation-1: #13171A;
  --c-elevation-2: #161D23;
  --c-elevation-3: #1B242A;
  --c-elevation-4: #202A31;
  --c-elevation-5: #253038;
  --border-color: rgba(93, 94, 75, 0.3);
}

.header_logo img {
  width:50px;
  height:50px;
}
.header_title {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.25;
}

.test .btn-primary{
  color:#DEDACE;
  font-size:25px;
  font-weight:200;
  background-color:#13171A;
  border-radius:0;
}

.test .btn-primary:hover{
  background-color:#0D1114;
}
.forum > .btn-primary i {
  margin-right:0;
}
.forum_button {
  width:30px;
  height:30px;
  padding:1px;
  border-radius: var(--button-border-radius);
  background-color: #161a1e;
  box-shadow: 0px 3px 4px -2px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, 0.15);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.header_body {
  height:50px;
}
.btn-test {

}
.box {
  background-color:#13171A;
  box-shadow: 0px 3px 4px -2px rgba(0, 0, 0, .3), inset 0 1px 1px rgba(255, 255, 255, 0.15);
}